@font-face {
    font-family: 'Junction-webfont';
    src: url('static/fonts/Junction-webfont.eot');
    src: local('☺'), 
        url('fonts/Junction-webfont.woff') format('woff'), 
        url('fonts/Junction-webfont.ttf') format('truetype'), 
        url('fonts/Junction-webfont.svg#webfontoNEpZXy2') format('svg');
}

.navbar-header li {
	list-style-type: none;
}

.navbar {
	opacity: .80;
}

.content {
	margin: 25 200 200px;
	width: 900px;
}

.imageBorder
{
    border: 2px solid #ffffff;
}

body{
	background-color: #ecf0f1;
  box-sizing: border-box;
}

p {
	color: #2c3e50;
	font-family: 'Helvetica';
  align-items: center;
  justify-content: center;

}

h1 {
	color: #34495e;

}

h2 {
	color: #2980b9;
	font-family: 'Helvetica';
}

h3 {
	color: #16a085;
	font-family: 'Helvetica';
  align-items: center;
  justify-content: center;
}

h4 {
	color: #c0392b;
	font-family: 'Helvetica';
}

a:link {
	color: #3498db;
}

a:visited {
	color: #2c3e50;
}





}
section{
  padding: 10% 20%;
}
.animate{
  transition: all .3s;
}

input[name=question]{
    display: none;
}
input[name=question] + label{
    position: relative;
    display: block;
    padding: 20px 20px;
    font-size: 1.2em;
    cursor: pointer;
    background: rgba(246, 246, 246, 1);
    color: #5a9aa8;
    z-index: 2;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    border-radius: 3px;
}

.response{
    position: relative;
    background: #5a9aa8;
    color: #2980b9;
    padding: 10px 20px;
    -webkit-transform: translate3d(0,-40px, 0) rotate(-.5deg);
    z-index: 1;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    opacity: 0;
    border-radius: 3px;
}

input[name=question]:checked + label{
    background: #F6F6F6;
    color: #5a9aa8;
}
input[name=question]:checked + label + .response{
    opacity: 1;
    visibility: visible;
    padding: 10px 20px;
    -webkit-transform: translate3d(0, 0, 0) rotate(0deg);
    -webkit-filter: blur(0px);
    margin-bottom: 20px;
    color: white;
}

.fixed-height{
    height: 50px;
    overflow: hidden;
    opacity: 1 !important;
}
