{% extends "layout.html" %}
{% block body %}

<html>
<head>
<link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="static/css/custom.css">
</head>

<!-- page header -->
<div class="aboutheader">
<h1>About the Alphabet</h1>
<style>
h1 {text-align:center}
</style>
</div>

<!-- FAQ -->
<div class="container ">
    <div class="panel-group" id="faqAccordion">
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question0">
                 <h4 class="panel-title">
                    <a href="#" class="ing">So what is this thing, anyway?</a>
              </h4>

            </div>
            <div id="question0" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">

                    <p>Have you ever exchanged dating horror stories with your friends? Have you ever exchanged so many, that you realized you could make a whole website about it? An Alphabet of Assholes is a compliation of real-life stories from our dating lives. We've abbreviated all names down to their first letters, to avoid calling anyone out.
                        </p>
                </div>
            </div>
        </div>
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question1">
                 <h4 class="panel-title">
                    <a href="#" class="ing">Who are we?</a>
              </h4>

            </div>
            <div id="question1" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">

                    <a href="http://www.jessicaappelbaum.com/">Jessica Appelbaum</a> and <a href="http://www.anastasianikitovic.com/">Anastasia Nikitović</a> are a couple of millenial ladies who have dated a whole bunch of assholes. Anastasia loves to draw. Jess is learning how to code. We both like to write stuff. We decided combine our talents and share our dating horror stories with the world!</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question2">
                 <h4 class="panel-title">
                    <a href="#" class="ing">Woah, that story sounds familiar! Is it about me?</a>
              </h4>

            </div>
            <div id="question2" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">

                    <p>Have you dated one of us? If so, probably! Sorry, buddy.</p>
                </div>
            </div>
        </div>
            </div>
        </div>
        
    </div>
    <!--/panel-group-->
</div>

</body>
</html>

{% endblock %}