{% extends "layout.html" %}
{% block body %}

<html>
<head>
<link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="static/css/custom.css">
</head>

<!-- page header -->
<div class="aboutheader">
<h1>About the Alphabet</h1>
<style>
h1 {text-align:center}
</style>
</div>

<!-- page content -->

<section>
<input class="animate" type="radio" name="question" id="q1"/>
<label class="animate" for="q1">Q: So what is this thing, anyway?</label>
<p class="response animate">A: Have you ever exchanged dating horror stories with your friends? Have you ever exchanged so many, that you realized you could make a whole website about it? An Alphabet of Assholes is a compliation of real-life stories from our dating lives. We've abbreviated all names down to their first letters, to avoid calling anyone out.</p>

<input class="animate" type="radio" name="question" id="q2"/>
<label class="animate" for="q2">Q: Who are we?</label>
<p class="response animate">A: <a href="http://www.jessicaappelbaum.com/">Jessica Appelbaum</a> and <a href="http://www.anastasianikitovic.com/">Anastasia Nikitović</a> are a couple of millenial ladies who have dated a whole bunch of assholes. Anastasia loves to draw. Jess is learning how to code. We both like to write stuff. We decided combine our talents and share our dating horror stories with the world!</p>

<input class="animate" type="radio" name="question" id="q3"/>
<label class="animate" for="q3">Q: Woah, that story sounds familiar! Is it about me?</label>
<p class="response animate">A: Have you dated one of us? If so, probably! Sorry, buddy.</p>
</section>

</body>
</html>

{% endblock %}