{% extends "layout.html" %}
{% block body %}

<html>
<head>
<link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="static/css/custom.css">
</head>

    <header>
        <div class="container">
            <div class="row">
                    <div class="intro-text">
                        <h1>An Alphabet of Assholes</h1>
                        <h4><span class="skills">Horror Stories From the World of Dating</span></h4>
                    </div>
            </div>
        </div>
</header>

</html>

{% endblock %}