{% extends "layout.html" %}
{% block body %}

<html>
<head>
<link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="static/css/custom.css">
</head>

<!-- page header -->
<div class="aboutheader">
<h1>A</h1>
<style>
h1 {text-align:center}
</style>
</div>

<!-- Image -->

<img src="static/img/Unicornsample.png" id="banner" style="height:300px" alt="sample image" />

<!-- Text -->
<body>
<div class="content">
<p> This is a sample story. La la la. It's about unicorns.</p>


{% endblock %}